{% extends "index.html" %}

{% block title %}{{ config.title }} - tagss{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul>
                {% for category in terms %}
                <li><a href="{{ category.permalink }}">{{ category.name }}</a></li>
                <div class="post-preview">
                 {# <div class="posts">    
                   {{ post_macros::page_title(page=page) }}
                        <p class="post-summary">{{ page.summary | safe }}</p>
                    </div>
                    </div>

                    <!-- Paginator -->
                    <div class="clearfix">
                    {% if paginator.previous %}
                    <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
                    {% endif %}
                    {% if paginator.next %}
                    <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
                    {% endif %}
                    </div> #}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}