{% extends "index.html" %}

{% block title %}{{ config.title }} - Tags{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12 mx-auto">
            <ul>
                <li><a href="/tags">alles</a></li>
                {% for tag in terms %}
                <li><a href="{{ tag.permalink }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}