<!DOCTYPE html>
<html lang="en">

<head>
  {% block analytics %}
  {% endblock analytics %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Stichting Bonfari is een platform dat gedreven studenten koppelt aan effectief vrijwilligerswerk. Help mee!">
  <meta name="author" content="Stichting Bonfari">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bootstrap.min.css") }}">
  <!-- Custom fonts for this template -->
  <link href="{{ get_url(path="css/all.min.css") }}" rel=" stylesheet" type="text/css">
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ get_url(path="clean-blog.css", trailing_slash=false) }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" />

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ config.base_url }}">{{config.title | replace(from="Stichting ", to="")}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for item in config.extra.clean_blog_menu %}
          <li class="nav-item">
            <a class="nav-link"
              href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block header %}
  <header class="masthead"
    style="background-image: url('https://res.cloudinary.com/bonfari/image/upload/c_fill,f_auto,q_auto/v1594670934/header-bg.jpg')">
    <div class="overlay">
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{config.title}}</h1>
            <span class="subheading">{{config.description}}</span>
            </br></br></br>
            <h5 class="text-center font-weight-light">Welkom op de website van Stiching Bonfari! Wij zijn ervan
              overtuigd dat
              vrijwilligerswerk beter kan. Dit onderbouwen wij in onze visie: Value-Based Volunteering. Deze visie
              proberen wij na
              te leven in alles wat we als stichting doen, vooral onze projecten in Gambia. Op deze website vind je meer
              informatie
              over onze visie, stichting en projecten. Wil je ons steunen als donateur of vrijwilliger? Lees dan
              hieronder verder.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}

  {% block content %}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12 mx-auto">
        <div class="row">
          {% for page in paginator.pages %}
          <div class="col-md-{% if page.extra.col %}{{page.extra.col}}{% else %}4{% endif %} col-sm-12 mx-auto">
            <h2>{{ page.title }}</h2>
            {{ page.content | safe }}
          </div>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}

  <hr>

    <!-- Footer -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              {% for item in config.extra.clean_blog_social %}
              <li class="list-inline-item">
                <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="{{ item.icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              {% endfor %}
            </ul>
          <p class="copyright">
            <div id="mc_embed_signup">
              <form action="//bonfari.us13.list-manage.com/subscribe/post?u=8fcd97d6b4c64a30cde8f37e0&amp;id=c05f33eaf2"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
                novalidate="">
                <div id="mc_embed_signup_scroll" class="input-group">
                  <!-- https://www.w3schools.com/Bootstrap/bootstrap_forms_inputs2.asp -->
                  <!-- <label for="mce-EMAIL">Wil je onze nieuwsbrief ontvangen?</label> -->
                  <span class="input-group-addon">Wil je onze nieuwsbrief ontvangen?</span>
                  <input style="margin-left: 15px" type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="emailadres" required="" />
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_8fcd97d6b4c64a30cde8f37e0_c05f33eaf2" tabindex="-1" value="" />
                  </div>
                  <div class="input-group-btn">
                  <input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary" />
                  </div>
                </div>
              </form>
            </div>
            <div class="text-muted">
            {% block copyright %}Copyright &copy; {{ config.title }}
              {{ now() | date(format="%Y") }}, Adres: Willem van Millenberghstraat 21, Eindhoven, RSIN:
              856359828{% endblock copyright %} </div></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ get_url(path="js/jquery.min.js") }}"></script>
  <script src="{{ get_url(path="js/bootstrap.bundle.min.js") }}"></script>

  <!--Custom scripts for this template-->
  <script src="{{ get_url(path="js/clean-blog.min.js") }}"></script>

  <!--- Additional scripts -->
  {% block extrascripts %}
  {% endblock extrasripts %}
</body>

</html>