{% extends "section.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block headertitle %}
<h1 class="page-heading">{{ page.title }}</h1>
<span class="meta sub-heading post-heading">Posted by
  {% if page.extra.author %}
    <a href="{{ get_url(path="/over")}}/{{page.extra.author | lower }}">{{page.extra.author}}
    {% else %}
    <a href="#">{{config.extra.author}}
    {% endif %}
    </a>
    {% if page.date %}
    on {{ page.date | date(format="%e %B %Y")}}
    {% endif %}
</span>
{% endblock headertitle %}

{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ page.content | safe }}
        {% if page.taxonomies.tags %}
        <div class="post-tags">
          <p>Tags:
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock content %}