{% extends "section.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12 mx-auto">
            <div class="row">
                <div class="col">
                    <div class="post" id="portfolio">
                        <div class="row">
                            {% for page in paginator.pages %}
                            <div class="{{ page.extra.col }}  portfolio-item">
                                <a href="{{ page.permalink }}" class="portfolio-link p-0">
                                    <div class="post-summary">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content"><i class="fa fa-arrows-alt fa-3x"></i>
                                            </div>
                                        </div>
                                        {% if page.extra.image %}
                                        <img {% if class %}class="{{class}}" {% endif %}
                                            src="https://res.cloudinary.com/bonfari/image/upload/c_fill,f_auto,q_auto,w_300,ar_3:2/{% if page.extra.afgerond %}l_text:arial_55_bold:AFGEROND,co_rgb:BEBEBE,o_75,a_30/{% endif %}v1594394902/{{page.extra.image}}"
                                            alt="{{page.extra.image}}" width="100%" height="180">
                                        {% else %}
                                        <a href="{{ page.permalink }}">{{ page.summary | safe }} </a><a
                                            href="{{ page.permalink }}">Lees
                                            verder...</a>
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="portfolio-caption p-0">
                                    <div class="post-preview">
                                        {% if page.date %}

                                        <div class="post-meta" style="text-align:center;">{{ page.date | date(format="%e
                                            %B %Y")}}</div>
                                        {% endif %}
                                        <a href="{{ page.permalink }}" style="text-align:center;">
                                            <h4>{{ page.title }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Paginator -->
                    <div class="clearfix">
                        {% if paginator.previous %}
                        <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
                        {% endif %}
                        {% if paginator.next %}
                        <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}