{% extends "index.html" %}

{% block title %}{{ section.title }} - {{ super() }}{% endblock %}

<!-- Page Header -->
{% block header %}
<header class="masthead"
    style="background-image: url('https://res.cloudinary.com/bonfari/image/upload/c_fill,f_auto,q_auto/v1594670934/header-bg.jpg')">
    <div class="overlay">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12 mx-auto">
                {% block headertitle %}
                <h1 class="page-heading text-uppercase">{{ section.title }}</h1>
                {% endblock headertitle %}
            </div>
        </div>
    </div>
</header>
{% endblock header %}
