{% macro page_title(page) %}
    <a href="{{ page.permalink }}">
        <h2 class="post-title">{{ page.title }}</h2>
    </a>
    {% if page.date %}
        <p class="post-meta">Posted by
            {% if page.extra.author %}
            <a href="{{ get_url(path="/over")}}/{{page.extra.author | lower }}">{{page.extra.author}}
            {% else %}
            <a href="#"></a>{{config.extra.author}}
            {% endif %}
            </a>
            on {{ page.date | date(format="%e %B %Y")}}</p>
    {% endif %}
{% endmacro page_list %}

{% macro page_header(page) %}
<h2>{{ page.title }}</h2>
<span class="meta">Posted by
    <a href="#">{% if page.extra.author %}{{page.extra.author}}{% else %}{{config.extra.author}}{% endif %}</a>
    {% if page.date %}
      on {{ page.date | date(format="%e %B %Y")}}
    {% endif %}
</span>
{% endmacro page_list %}